<form action="/" method="post">
    <input type="text" name="nombre" placeholder="nombre" required>
    <input type="text" name="descripcion" placeholder="descripcion" required>
    <input type="number" name="codigo" placeholder="codigo" required>
    <input type="text" name="foto" placeholder="foto" required>
    <input type="number" name="precio" placeholder="precio" required>
    <input type="number" name="stock" placeholder="stock" required>
    <button> Enviar! </button>
</form>


{{!-- <a href="/productos"><button class="volver">Volver al formulario de carga</button></a> --}}

<div>
    <h1 class="title">Lista de productos</h1>

    <table class="product-list">
        <tr>
            <th>nombre</th>
            <th>descripcion</th>
            <th>codigo</th>
            <th>foto</th>
            <th>precio</th>
            <th>stock</th>
        </tr>
        {{#if productos.length}}
        {{#each productos}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.descripcion}}</td>
            <td>{{this.codigo}}</td>
            <td><img height="72px" width="72px" src={{this.foto}} /></td>
            <td>{{this.precio}}</td>
            <td>{{this.stock}}</td>
        </tr>
        {{/each}}
        {{/if}}
    </table>

    <a href="/"><button>Volver al formulario de carga</button></a>
    <a href="/"><button>Volver al formulario de carga</button></a>

</div>

<style>
    .volver {
        margin-top: 1rem;
    }

    table,
    th,
    td {

        border: 1px solid;
    }

    th {
        width: 16%;
    }

    .title {
        text-align: center;
    }

    .product-list {
        width: 100%;
    }
</style>